
*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
/* shared styles */
.btn{
    background-color: #469165;
    padding: 12px 16px;
    font-size: 16px;
    line-height: 100%;
    font-weight: 600;
    color: #FFFFFF;
    border: 1px solid;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
}
/* main-styles */
#section-container{
    /* background: #ff0000; */
    max-height: 92px;
    border-bottom: 1px solid black;
    padding: 0px 120px;
    align-items: center;
}
.nav-logo{
    margin: 24px 0px;
}
#section-container .navbar{
    display: flex;
    justify-content: space-between;
}
#section-container .navbar .nav-menu ul{
    display: flex;
    list-style: none;
    gap: 20px;
}
#section-container .navbar .nav-menu ul{
    height: 92px;
    align-items: center;
}
#section-container .navbar .nav-menu ul li{
    font-size: 22px;
    font-weight: 500;
    line-height: 152px;

}
#section-container .navbar .nav-menu ul a{
    text-decoration: none;
    color: #000000;

}
#section-container .nav-button{
    margin: 24px 0px;
}
#hero-section{
    background-image: url(../images/hero-1.jpg);
    background-repeat: no-repeat;
    min-height: 674px;
    background-size: cover;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#hero-section .hero-container{
 padding: 231px;
}
.hero-container button{
    font-size: 16px;
    font-weight: 500;
    color: #469165;
    padding: 8px 12px;
    width: 219px;
    height: 35px;
    border-radius: 8px;
}
.hero-container h1{
    font-size: 72px;
    font-weight: 500;
    color: #FFFFFF;
    line-height: 84px;
}
.hero-container h1 span{
    font-size: 72px;
    font-weight: 500;
    color: #30B868;
    line-height: 84px;
}
.hero-container p{
    margin: 16px 0px;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
}
.hero-container .hero-button-group .btn2{
    font-size: 16px;
    font-weight: 500;
    padding: 8px 12px;
    width: 219px;
    height: 35px;
    border-radius: 8px;
    background-color: transparent;
}
.hero-button-group a button{
    cursor: pointer;
}
#card-section{
    display: flex;
    justify-content: center;
    margin-top: 67px;
    margin-bottom: 16px;
}
#card-section .card-title h2{
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    line-height: 100%;
    color: #001931;
    margin-bottom: 16px;
}
#card-section .card-title p{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    color: #627382;
    margin-bottom: 26px;
}

.card-container{
    width: 71%;
}
.card-container .card-box{
    gap: 20px;
    display: flex;
    text-align: center;
}
.card-box .card{
    border: 1px solid gray;
    padding: 130px 10px 10px 10px;
}
.card-box .card img{
    background-color: #F95555;
}
.card-box .card .card-image{
    height: 60px;
    width: 60px;
    background-color: #F95555;
    align-items: center;
}
#second-design{
    display: flex;
    justify-content: center;
    width: 89%;
    margin-bottom: 120px;
}
#second-design .design-image img{
    height: 480px;
    width: 480px;
    border-radius: 12px;
    margin-left: 200px;
}
#second-design .design-box{
    padding-top: 90px;
    padding-left: 32px;
}
#second-design .design-box span{
    color:#30B868;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 16px;

}
#second-design .design-box h2{
    color: #001931;
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 16px;
}

#second-design .design-box p{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 40px;
}

#second-design .design-list ul li{
    list-style: none;
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 20px;
    color: #001931;
    font-style: normal;
}
.get-access{
    width: 90%;
    text-align: center;
}
.get-access h2{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 16px;
}
.get-access p{
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
}
.get-access span{
    display: block;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 80px;
    margin-top: 16px;
}
footer{
    margin-top: 200px;
    background-color: #001931;
}
.copyright{
    text-align: center;
    color: #FFFFFF;
    padding:80px 120px 30px 120px;
}
.footer-logo h3{
    font-size: 20px;
    line-height: 28px;
}
.footer-container{
    display: flex;
    justify-content: space-between;
    padding: 120px 120px;
}
.socials h3{
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;;
}
.socials img{
    padding-right: 20px;
    padding-top: 12px;
}
hr{
    margin: 0px 40px;
    background-color: #E5E7EB;
}