
*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
/* shared styles */
.btn{
    background-color: #469165;
    padding: 12px 16px;
    font-size: 16px;
    line-height: 100%;
    font-weight: 600;
    color: #FFFFFF;
    border: 2px solid yellow;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
}
/* main-styles */
#section-container{
    /* background: #ff0000; */
    max-height: 92px;
    border-bottom: 1px solid black;
    padding: 0px 120px;
    align-items: center;
}
#section-container .navbar{
    display: flex;
    justify-content: space-between;
}
#section-container .navbar .nav-menu ul{
    display: flex;
    list-style: none;
    gap: 20px;
}
#section-container .navbar .nav-menu ul{
    height: 92px;
    align-items: center;
}
#section-container .navbar .nav-menu ul li{
    font-size: 22px;
    font-weight: 500;
    line-height: 152px;

}
#section-container .navbar .nav-menu ul a{
    text-decoration: none;
    color: #000000;

}
#section-container .nav-button{
    margin: 24px 0px;
}
#hero-section{
    background-image: url(../images/hero-1.jpg);
    background-repeat: no-repeat;
    height: 674px;
    background-size: cover;
}
#hero-section .hero-container{
    margin: 0 auto;
}